.navbar-brand {
    font-family: "Gill Sans", sans-serif;
    font-size: larger;
    font-style: normal;
}
.body{
    background-color: #EFECE7;
}

.container-presentation{
    
    background-image: url('Capture\ d’écran\ 2025-02-05\ à\ 02.09.32.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:opacity(60%);
   
    margin-top: 20px;
    text-align: center;
    padding: 200px;
}    
.container-presentation h1{
    color: #EFECE7;
}
    
.container-presentation h5{
    color: #EFECE7;
}
    
.container-presentation p{
    color: #EFECE7;
}
    
.container-apropos {
    margin: 50px;
}

.apropos{
    background-color: #D6CFC2;
    padding: 30px;
    padding-top: 10px;

}
.apropos p{
  font-size: 20px;
   line-height: 1.4em; 
}

.titre-projet{
    margin-top: 50px;
    margin-bottom: 20px;
}

.titre-projet{
    text-align: center;
    padding: 40px;
}

.titre-projet h1{
   text-transform:uppercase;
   color: #87765A;
   
}

.container-projet{
    margin-left: 50px;
}

.titre-competence{
   text-align: center;
   padding: 100px;
}

.titre-competence h1{
    text-transform:uppercase;
    color: #87765A;
}

.custom-color {
    background-color: #87765A !important; /* demander à mohammed */
}

.container-competence {
    margin-left: 50px;
    margin-top: 10;
}

.fin{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-family: "Gill Sans", sans-serif;
    font-size: larger;
    font-style: normal;
}

.card-texte {
    padding: 2%;
    text-align: center;
}